/* Header section */
header {
    padding-top: 4em;
    text-align: center;
}

/* Break line */
hr {
    border: none;
    height: 2px;
    width: 90%;
    margin: 0 auto;
    background-color: #333;
}

/* Footer section */
footer {
    padding-bottom: 1em;
    text-align: center;
}